p, li, table {
    font-size: 12px;
}

h3 {
    font-size: 24px;
}

img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width:100px;
    height:100px;
}

footer {
    text-align: center;
    color: silver;
    font-weight: 900;
    text-shadow: 0 0 1px silver;
}

@media print {
    img {
        display: inline-block !important;
    }

    a {
        display: none;
    }
}